// color
$white: #fff;
$black: #333;
$gray: #eee;

// breakpoints
$windowPC: 769px;
$windowSP: 768px;

// content width
$contentWidth: 1100px;

// side padding in SP page
$paddingLR: 6.25%; 

// Fonts
$mainFontType1: 'Hiragino Kaku Gothic ProN','ヒラギノ角ゴ ProN W3','游ゴシック体', 'Yu Gothic','メイリオ', sans-serif;