- var title = "ページ	| タイトル"
// Variables
include common/_variable.pug


doctype html
html(lang="ja")
	head
		include common/_head.pug
	body
		include common/_header.pug

		// Content

		a.link(href="#{home}")
		

		include common/_footer.pug