title #{title}
meta(charset="utf-8")
meta(http-equiv="X-UA-Compatible" content="ie=edge")
meta(name="format-detection" content="telephone=no")
meta(name="viewport" content="width=device-width,initial-scale=1.0,minimum-scale=1.0" id="metaName")
meta(name="description" content="")
meta(name="author" content="")
meta(property="og:title" content="")
meta(property="og:type" content="")
meta(property="og:url" content="")
//meta(property="og:image" content="./assets/img/_etc/ogp.png")
meta(property="og:description" content="")
meta(property="og:site_name" content="")

meta(property="fb:app_id" content="AppID")

meta(name="twitter:card" content="summary")
meta(name="twitter:site" content="@TwitterID")
meta(name="twitter:creator" content="@TwitterID")

link(rel="canonical" href="")
//link(rel="shortcut icon" href="./assets/img/_etc/favicon.ico")

link(rel="stylesheet" media="print,screen" href="./assets/css/style.css")
